body{
    background-image: url('https://images.unsplash.com/photo-1639322537228-f710d846310a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    opacity: 0.9;
}
#hr{
    height: 1px;
    width: 80%;
    margin:10px auto;
    
    background-color:rgb(224, 213, 54);
    size:30px;
    /* border:solid rgb(224, 213, 54); */
}
header{
    color:rgb(224, 213, 54);
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Secular One', sans-serif;
    margin-top:20px;
}

header .navbar h1{
    margin:auto auto;
}

.login{
    height:400px;
    width:400px;
    margin:30px auto;
    /* border:solid white; */
    background-color: rgb(31, 1, 66);
    border-radius: 15px;
    
}

#loginAs{
    color:white;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    padding-top:20px;
    width:fit-content;
}

#loginOptions
{
    margin-top:40px;

}

a{
    text-decoration: none;
    padding: 5px 15px;
    background-color: rgba(97, 97, 235, 0.674);
    border-radius: 5px;
    color:white;

    
}
a:hover{
    color:rgb(224, 213, 54);
}
#loginOptions{
    margin: 20px auto;
    display: flex;
    justify-content:center;
    
}
#loginOptions div{
    margin: 20px;
}